.c4board {
    display: flex;
    flex-direction: column;
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    background-color: var(--accent-color);
    padding: 5px 5px 10px 5px;
    border-radius: 10px;
    width: fit-content;
    position: relative;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: var(--secondary-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.cell.red {
    background-color: red;
}

.cell.yellow {
    background-color: yellow;
}

.cell.hovered {
    background-color: var(--hover-bg);
}

.c4-status {
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
}

.c4-button {
    background-color: var(--secondary-bg);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    font-size: 16px;
    margin: 0px 0px;
    border-radius: 0px;
    margin-left: 290px;
    margin-top: 22px;
}

.c4-button:hover {
    border: 1px solid var(--accent-color);
    background-color: var(--hover-bg);
    color: var(--accent-color);
}

.piece {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 3px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.player-indicator {
    display: flex;
    align-items: center;
    gap: 5px;
}