.square {
    background: var(--secondary-bg);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.winning-square {
    background-color: yellow;
    color: var(--primary-bg);
    font-weight: bold;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game-info {
    margin-left: 20px;
}